html 
  head 
    title bddylol
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
  body 
    div(style="display: flex; text-align: center; flex-direction: column; align-items:center; justify-content: center; height: 100vh; width: 100vw;")
      h1 avery
      p(style="max-width: 70%") hey howdy welcome to my website uhh theres nothing really here -- i mainly use this domain for random shit i do!
      a(href="https://discord.com/users/803612750718697493" target="_blank")
        button contact me
    script(src='https://cdn.jsdelivr.net/npm/@picocss/pico@2/js/pico.min.js')
    
